
/* Your CSS Code here. */
/* div{
	margin: 20px;
	border: 15px solid blue;
} */
*{
	margin: 0px;
	padding: 0px;
}

/* div{
	width: 300px;
} */
div{
	background-color: lightblue;
	padding: 50px;
	border: 15px solid blue;
	width: 300px;
	margin: 20px;
}